<?xml version="1.0" encoding="UTF-8"?>
<installer version="1.0">
  <info>
	<uid>gateway-paymentsense_redirect@cubecart.com</uid>
	<type>gateway</type>
	<name><![CDATA[PaymentSense Redirect]]></name>
	<description><![CDATA[PaymentSense Payment Gateway]]></description>
	<version>1.0.1</version>
	<minVersion>5.0.0</minVersion>
	<maxVersion>6.*.*</maxVersion>
	<creator><![CDATA[Paymentsense Ltd.]]></creator>
	<homepage><![CDATA[http://www.paymentsense.com]]></homepage>
	<block>false</block>
  </info>
</installer>